# Frontend - maintained in its own Git repository
rccg-hope-house-web/

# Visual Studio
.vs/
*.user
*.suo

# .NET build output
**/bin/
**/obj/

# Packages
*.nupkg

# Logs
*.log

# Archives
*.zip

# Local environment/secrets
.env
.env.*
appsettings.Development.json

# OS files
.DS_Store
Thumbs.db

#others.
AppSettings-keep.txt

# Separate repositories
RccgHopeHouse.Mobile/
RccgHopeHouse.Web/
